{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      {%- capture link_url -%}
        {%- render 'header-normalized-url', title: link.title, handle: link.handle, url: link.url -%}
      {%- endcapture -%}
      {%- liquid
        assign link_title_downcase = link.title | strip | downcase
        assign is_shop_menu = false
        if link.handle == 'shop' or link_title_downcase == 'shop'
          assign is_shop_menu = true
        endif
      -%}
      <li class="header__menu-list-item{% if link.links != blank or is_shop_menu %} header__menu-list-item--has-children{% endif %}">
        {%- if is_shop_menu -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu mega-menu--ersa-shop">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              {% render 'header-shop-mega-menu',
                index: forloop.index,
                menu_color_scheme: section.settings.menu_color_scheme
              %}
            </details>
          </header-menu>
        {%- elsif link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <ul
                id="HeaderMenu-MenuList-{{ forloop.index }}"
                class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
                role="list"
                tabindex="-1"
              >
                {%- if link_url != blank -%}
                  <li class="header__submenu-item header__submenu-item--parent">
                    <a
                      href="{{ link_url }}"
                      class="header__menu-item header__submenu-parent-link list-menu__item link link--text focus-inset caption-large{% if link.current %} list-menu__item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  </li>
                {%- endif -%}
                {%- for childlink in link.links -%}
                  {%- capture childlink_url -%}
                    {%- render 'header-normalized-url', title: childlink.title, handle: childlink.handle, url: childlink.url -%}
                  {%- endcapture -%}
                  <li class="header__submenu-item{% if childlink.links != blank %} header__submenu-item--has-children{% endif %}">
                    {%- if childlink.links == blank -%}
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink_url }}"
                        class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                    {%- else -%}
                      <details id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
                        <summary
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                        >
                          <span>{{ childlink.title | escape }}</span>
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </summary>
                        <ul
                          id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                          class="header__submenu list-menu motion-reduce"
                        >
                          {%- if childlink_url != blank -%}
                            <li class="header__submenu-item header__submenu-item--parent">
                              <a
                                href="{{ childlink_url }}"
                                class="header__menu-item header__submenu-parent-link list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                                {% if childlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ childlink.title | escape }}
                              </a>
                            </li>
                          {%- endif -%}
                          {%- for grandchildlink in childlink.links -%}
                            {%- capture grandchildlink_url -%}
                              {%- render 'header-normalized-url', title: grandchildlink.title, handle: grandchildlink.handle, url: grandchildlink.url -%}
                            {%- endcapture -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink_url }}"
                                class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </details>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link_url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
